In [370]:
import os
import tqdm as tqdm

In [371]:
from PIL import Image
import numpy as np
import time
import pandas as pd
import tqdm

pwd = os.getcwd()
category = '/Category and Attribute Prediction Benchmark/'
directory = pwd + category
pd.options.mode.chained_assignment = None  # default='warn'

In [372]:
img_category_path2 = directory + 'Anno/list_category_img2.txt'
df2 = pd.read_csv(img_category_path2, delim_whitespace= True, header=0, names=['category'])
df2['upper_lower'] = ['1' if i< 21 else '3' if i>36 else '2' for i in df2['category']]

In [373]:
df2.head()

                                                 category upper_lower
img/Sheer_Pleated-Front_Blouse/img_00000001.jpg         3           1
img/Sheer_Pleated-Front_Blouse/img_00000002.jpg         3           1
img/Sheer_Pleated-Front_Blouse/img_00000003.jpg         3           1
img/Sheer_Pleated-Front_Blouse/img_00000004.jpg         3           1
img/Sheer_Pleated-Front_Blouse/img_00000005.jpg         3           1

In [374]:
def order_col(dataframe, show_list = 30):
    print dataframe.sum().sort_values(ascending=False)[:show_list]

In [424]:
df_upper = pd.read_csv('category-upper-all-everything.txt', sep=':')
df_lower = pd.read_csv('category-lower-all-everything.txt', sep=':')

In [425]:
df_upper_cut = pd.read_csv('category-upper-all.txt', sep=':')
df_lower_cut = pd.read_csv('category-lower-all.txt', sep=':')

In [426]:
all_list = [df_upper,df_lower,df_upper_cut,df_lower_cut]
for x in all_list:
    print len(x)

139709
58963
3883
8336

In [427]:
order_col(df_upper)

Unnamed: 0       img/Sheer_Pleated-Front_Blouse/img_00000001.jp...
total                                                        81476
t_stripe                                                     12080
t_floral                                                      7098
f_lace                                                        6357
f_chiffon                                                     6048
p_long-sleeve                                                 5533
p_collar                                                      4876
f_cotton                                                      4410
p_button                                                      4192
p_pocket                                                      4005
f_leather                                                     3767
f_fur                                                         3767
p_v-neck                                                      3756
p_hooded                                                      3650
p_zipper                                                      3623
p_sleeveless                                                  3265
f_denim                                                       2674
t_dot                                                         2375
dtype: object

In [428]:
order_col(df_upper_cut)

Unnamed: 0       img/Sheer_Pleated-Front_Blouse/img_00000069.jp...
f_fur                                                         1263
f_leather                                                     1263
p_long-sleeve                                                 1182
f_chiffon                                                     1152
p_collar                                                       981
t_stripe                                                       826
t_floral                                                       790
f_lace                                                         749
p_button                                                       672
p_zipper                                                       590
f_cotton                                                       584
p_sleeveless                                                   520
p_v-neck                                                       425
p_hooded                                                       411
p_pocket                                                       362
t_dot                                                          329
f_denim                                                        260
dtype: object

In [429]:
order_col(df_lower)

Unnamed: 0    img/Mineral_Wash_Mini_Skirt/img_00000001.jpgim...
total                                                     40860
f_denim                                                    8706
t_floral                                                   4160
t_stripe                                                   3371
s_mini                                                     2979
s_pencil                                                   2933
f_pleated                                                  2862
s_fit                                                      2651
f_leather                                                  2559
f_knit                                                     2536
s_maxi                                                     1978
f_cotton                                                   1782
p_zipper                                                   1698
s_midi                                                     1453
t_dot                                                      1192
dtype: object

In [430]:
order_col(df_lower_cut)

Unnamed: 0    img/Mineral_Wash_Mini_Skirt/img_00000001.jpgim...
f_denim                                                    2223
s_pencil                                                   1688
t_stripe                                                   1684
s_mini                                                     1650
t_floral                                                   1627
f_pleated                                                  1558
f_leather                                                  1290
f_knit                                                     1240
s_fit                                                      1189
s_midi                                                      988
p_zipper                                                    930
s_maxi                                                      856
f_cotton                                                    818
t_dot                                                       496
dtype: object

In [388]:
for x in all_list:
    try:
        del x['total']
    except:
        pass
    x['total'] = x.sum(axis=1,numeric_only = True)

In [389]:
"""
function: oversample
input: df1, df2, col_name, min_num
output: df1 that is oversampled

input the column name to oversample by the minimum number
use data from df2
"""

def oversample(df1, df2, col_name, min_num):
    temp_df = df2[(df2[col_name]==1) & (df2['total']==1)]
    print "x", x
    print "temp_df length" , len(temp_df)
    # count of limited numbers
    small_num = (df1[col_name] == 1).sum()
    # the difference
    to_add = abs(min_num - small_num)
    temp_df = temp_df[:to_add]
    
    print "small_num", small_num
    print "to_add", to_add
    print "temp_df_to_add_ length" , len(temp_df)
    return df1.append(temp_df)

In [405]:
df_upper_final = df_upper_cut.copy()
df_lower_final = df_lower_cut.copy()

In [406]:
u_list = list(df_upper_final)[1:-1]
#print u_list
#print list(df_lower_final)
l_list = list(df_lower_final)[1:-1]
#print l_list

In [407]:
for x in u_list:
    df_upper_final = oversample(df_upper_final, df_upper, x, 2300)
    print ""

x t_floral
temp_df length 4130
small_num 790
to_add 1510
temp_df_to_add_ length 1510

x t_stripe
temp_df length 8209
small_num 826
to_add 1474
temp_df_to_add_ length 1474

x t_dot
temp_df length 1336
small_num 329
to_add 1971
temp_df_to_add_ length 1336

x f_lace
temp_df length 3605
small_num 749
to_add 1551
temp_df_to_add_ length 1551

x f_denim
temp_df length 1739
small_num 260
to_add 2040
temp_df_to_add_ length 1739

x f_chiffon
temp_df length 2694
small_num 1152
to_add 1148
temp_df_to_add_ length 1148

x f_cotton
temp_df length 2303
small_num 584
to_add 1716
temp_df_to_add_ length 1716

x f_leather
temp_df length 0
small_num 1263
to_add 1037
temp_df_to_add_ length 0

x f_fur
temp_df length 0
small_num 1263
to_add 1037
temp_df_to_add_ length 0

x p_sleeveless
temp_df length 1681
small_num 520
to_add 1780
temp_df_to_add_ length 1681

x p_long-sleeve
temp_df length 2429
small_num 1182
to_add 1118
temp_df_to_add_ length 1118

x p_collar
temp_df length 2486
small_num 981
to_add 1319
temp_df_to_add_ length 1319

x p_pocket
temp_df length 2248
small_num 362
to_add 1938
temp_df_to_add_ length 1938

x p_v-neck
temp_df length 2151
small_num 425
to_add 1875
temp_df_to_add_ length 1875

x p_button
temp_df length 2168
small_num 672
to_add 1628
temp_df_to_add_ length 1628

x p_hooded
temp_df length 2386
small_num 411
to_add 1889
temp_df_to_add_ length 1889

x p_zipper
temp_df length 1928
small_num 590
to_add 1710
temp_df_to_add_ length 1710

In [408]:
order_col(df_upper_final)
len(df_upper_final)

Unnamed: 0       img/Sheer_Pleated-Front_Blouse/img_00000069.jp...
total                                                        35991
p_hooded                                                      2300
t_floral                                                      2300
p_v-neck                                                      2300
p_pocket                                                      2300
p_collar                                                      2300
p_long-sleeve                                                 2300
p_zipper                                                      2300
p_button                                                      2300
f_cotton                                                      2300
f_chiffon                                                     2300
f_lace                                                        2300
t_stripe                                                      2300
p_sleeveless                                                  2201
f_denim                                                       1999
t_dot                                                         1665
f_leather                                                     1263
f_fur                                                         1263
dtype: object

27515

In [409]:
for x in l_list:
    df_lower_final = oversample(df_lower_final, df_lower, x, 2300)
    print ""

x t_floral
temp_df length 2533
small_num 1627
to_add 673
temp_df_to_add_ length 673

x t_stripe
temp_df length 1687
small_num 1684
to_add 616
temp_df_to_add_ length 616

x t_dot
temp_df length 696
small_num 496
to_add 1804
temp_df_to_add_ length 696

x f_denim
temp_df length 6483
small_num 2223
to_add 77
temp_df_to_add_ length 77

x f_leather
temp_df length 1269
small_num 1290
to_add 1010
temp_df_to_add_ length 1010

x f_cotton
temp_df length 964
small_num 818
to_add 1482
temp_df_to_add_ length 964

x f_knit
temp_df length 1296
small_num 1240
to_add 1060
temp_df_to_add_ length 1060

x f_pleated
temp_df length 1304
small_num 1558
to_add 742
temp_df_to_add_ length 742

x s_fit
temp_df length 1462
small_num 1189
to_add 1111
temp_df_to_add_ length 1111

x s_pencil
temp_df length 1245
small_num 1688
to_add 612
temp_df_to_add_ length 612

x s_midi
temp_df length 465
small_num 988
to_add 1312
temp_df_to_add_ length 465

x s_mini
temp_df length 1329
small_num 1650
to_add 650
temp_df_to_add_ length 650

x s_maxi
temp_df length 1122
small_num 856
to_add 1444
temp_df_to_add_ length 1122

x p_zipper
temp_df length 768
small_num 930
to_add 1370
temp_df_to_add_ length 768

In [410]:
order_col(df_lower_final)
#len(df_upper_final)

Unnamed: 0    img/Mineral_Wash_Mini_Skirt/img_00000001.jpgim...
total                                                     28803
s_mini                                                     2300
s_pencil                                                   2300
s_fit                                                      2300
f_pleated                                                  2300
f_knit                                                     2300
f_leather                                                  2300
f_denim                                                    2300
t_stripe                                                   2300
t_floral                                                   2300
s_maxi                                                     1978
f_cotton                                                   1782
p_zipper                                                   1698
s_midi                                                     1453
t_dot                                                      1192
dtype: object

In [411]:
print len(df_upper_final)
print len(df_lower_final)

27515
18902

In [412]:
df_upper_final.head()

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
0,img/Sheer_Pleated-Front_Blouse/img_00000069.jpg,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,3
1,img/Sheer_Pleated-Front_Blouse/img_00000073.jpg,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3
2,img/Sheer_Pleated-Front_Blouse/img_00000084.jpg,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,3
3,img/Sheer_Pleated-Front_Blouse/img_00000144.jpg,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,3
4,img/Sheer_Pleated-Front_Blouse/img_00000149.jpg,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,3

In [419]:
df_u_c = df_upper_final.copy()
df_l_c = df_lower_final.copy()

In [420]:
df_u_c.set_index('Unnamed: 0', inplace=True)
df_l_c.set_index('Unnamed: 0', inplace=True)

In [421]:
df_u_c = pd.merge(df_u_c, df2, left_index = True, right_index = True)
df_l_c = pd.merge(df_l_c, df2, left_index = True, right_index = True)

In [422]:
del df_u_c['total']
del df_l_c['total']

df_u_c.to_csv('category-upper-balanced.txt', sep=':')
df_l_c.to_csv('category-lower-balanced.txt', sep=':')

In [423]:
df_u_c.head()

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,category,upper_lower
img/Sheer_Pleated-Front_Blouse/img_00000069.jpg,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,3,1
img/Sheer_Pleated-Front_Blouse/img_00000073.jpg,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3,1
img/Sheer_Pleated-Front_Blouse/img_00000084.jpg,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,3,1
img/Sheer_Pleated-Front_Blouse/img_00000144.jpg,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,3,1
img/Sheer_Pleated-Front_Blouse/img_00000149.jpg,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,3,1